 body{
    font-family: 'Poppins', sans-serif;
}

/* banner start */

.banner {
    display: flex;
    background-color: black;
    width: 100%;
    border-radius: 15px;
}
.banner-text {
    width: 50%;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px 15px;
}
.banner-text h1{
    font-size: 70px;
}
.banner-text h1:hover {
    color: cyan;
    border: 1px solid tomato;
}
.banner-img {
    width: 50%;
}
.banner-img img {
    width: 100%;
}
.banner-text a {
    background-color: red;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.banner-text a:hover {
    background-color: cyan;
    border: 1px solid orange;
    color: orange;
    padding: 9px 19px;
    cursor: pointer;
}

/* banner end */
/* main start */

.main-section {
    display: flex;
    width: 100%;
    margin: 20px 10px;

}
.menuvar {
    width: 50%;
    border-radius: 10px;
  
}
   
ul{
    list-style: none;
    padding: 20px 30px;
    
   
}
li a {
    display: block;
    width: 80%;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.container {
    width: 20%;
    height: 0%;
    margin: 10px;
    margin-top: 7%;
}
.container a {
    text-decoration: none;
}

.full-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    
}
/* main end */
/* footer start */

footer {
    margin-top: 60px;
    padding: 40px;
    background-color: black;
}
.contuct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0%;

}
h1 {
    color: aliceblue;
    text-align: center;

}
.contuct a {
    text-decoration: none;
    color: aliceblue;
}
.social-icon {
text-align: center;
margin: 10px;
  
}
.social-icon a {
 color: aliceblue;
 justify-content: space-between;

}
/* footer end */

/* meadia query for mobile */

@media  only screen and (max-width: 600px) {
    .banner, .main-section, .full-blog, .contuct, .ul {
        width: 100%;
        display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
    }
    .banner-img, .banner-img, .menuvar {
        width: 100%;
       
    }

    .container {
        width: 80%;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
    
    }
    .full-blog {
        padding-bottom: 50%;
    }
    .contuct a {
        text-align: center;
        width: 100%;
    }

}
/*  mobile media end */